################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Parcial3/.vs/Parcial3/FileContentIndex
